.pagination{

display:flex;

justify-content:center;

gap:10px;

margin:10px 0;

flex-wrap:wrap;

}

.pagination button{

padding:2px 16px;

border:none;

background:#0ea5e9;

color:white;

border-radius:6px;

cursor:pointer;

}

.pagination button:disabled{

background:gray;

cursor:not-allowed;

}